.Pop-up-passwords{
  display:flex;
  flex-direction: column;
  input{
    padding:1rem;
    margin:1rem 0;
  }
  p{
    color:red;
  }
}
.button-guardar{
  background-color: var(--color-secondary);
 
}
.button-cancelar{
  background-color: var(--red-button);
  color: #fff;
  
}