$primary: #184d47;
// $secondary: #96bb7c;
// $secondary: #db1d4b;
$secondary: #2d796f;
$tertiary: #d6efc7;
$last: #eebb4d;
$redButtons: #dc4c46;
$bg-forms: #fbfcfd;

:root {
	--color-primary: #{$primary};
	--color-secondary: #{$secondary};
	--color-tertiary: #{$tertiary};
	--color-last: #{$last};
	--red-button: #{$redButtons};
	--color-bg-form: #{$bg-forms};
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%; // 16px Por defecto del navegador 1rem, 10px = 1rem
	@media only screen and(max-width: 87.5em) {
		font-size: 45%;
	}
	@media only screen and(max-width:50em) {
		font-size: 39%;
	}
	 @media only screen and (max-width: 30em) {
    font-size:32%;
  }
}
body {
	box-sizing: inherit;
	line-height: 1.6;
	font-size: 1.6rem; // Es lo mismo que 16px
	font-family: 'Montserrat', sans-serif;
	position: relative;
	height: auto;
	background-color: #fff !important;
	z-index: 1;
	overflow-x: hidden;
}
body:before {
	// content: '';
	// display: block;
	// position: absolute;
	// width: 100%;
	// height: 100%;
	z-index: -1;
	// background-image: url('./assets/bg.jpeg');
	// background-attachment: fixed;
	// background-size: cover;
}
.backgroundImg {
	max-width: 100%;
	width: 100%;
	height: 60vh;
}
.container-main {
	min-height: 88vh;
	z-index: 1;
	position: relative;
}

.container2 {
	background-color: var(--color-primary);
	height: 20vh;
	z-index: -1;
}

.wave {
	position: absolute;
	height: 250px;
	width: 100%;
	background: var(--color-primary);
	z-index: -1;
	top: 0;
	right: 0;
	left: 0;
}

.wave::before,
.wave::after {
	content: '';
	display: block;
	position: absolute;
	border-radius: 100% 50%;
}

.wave::before {
	width: 55%;
	height: 109%;
	background-color: #fff;
	z-index: 0;
	right: -1.5%;
	top: 60%;
}
.wave::after {
	width: 55%;
	height: 100%;
	background-color: var(--color-primary);
	left: -1.5%;
	top: 40%;
}
//titulos
.titulo {
	color: #cae4db;
	font-size: 4rem;
	margin: 2rem 0;
	text-align: center;
}
