.login{
  
    color:var(--color-primary) !important;
    cursor:pointer;
  
}
.Pop-up-email-newPassword{
  display:flex;
  flex-direction: column;
  input{
    width:77rem;
    margin:1rem 5rem 1rem 0rem;
  }
}
.button-guardar{
  background-color: var(--color-secondary);
 
}
.button-cancelar{
  background-color: var(--red-button);
  color: #fff;
  
}