.catalogo {
  display: flex;
  flex-direction: column;
  &__titulo {
    color: #cae4db;
    font-size: 4rem;
    margin: 2rem 0;
    text-align: center;
  }
  &__subtitle {
    text-align: center;
    margin: 5rem 0;
  }
  &__category {
    display: flex;
    flex: 20% 0;
    margin-bottom: 5rem;
  }
  &__container {
    min-height: 80vh;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 2rem;
    margin: 1rem auto;
  }
  &__pagination {
    margin-bottom: 3rem;
    align-self: center;
  }
}
